.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 15%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid darkgrey;
    }
  }
  .name,
  .price {
    width: 23%;
    font-size: 32px;
  }
}
